@tailwind base;
@tailwind components;
@tailwind utilities;
.leftslide{
    animation:slideLeft 1.5s ;
}
@keyframes slideLeft{
    0%{
        transform:translateX(-50px);
    }
    100%{
        transform:translateX(0);
    }
}
.msg_box{
    /* width:100%; */
}
@media (min-width: 768px) {
    .msg_box{

        /* width: 69%; */
    }
    
}
.heading{
    background: #5A27CF;
background: linear-gradient(to right, #5A27CF 0%, #CF34A6 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    @apply w-2;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
  }